.idea/
.DS_Store
.ffs_db
.vscode
.temp

*.config
*.cache
*.webinfo
*.log
*.bak
*.sln
*.vs
*.cmd
*.thumb
*.tmp

node_modules
aspnet_client
ashx/
test/

/build/base.js

/website/assets/subject/build/base.js

/website/assets/subject/*/*/assets/demo/
/website/assets/subject/*/*/assets/styles/
/website/assets/subject/*/*/assets/scripts/
/website/assets/subject/*/*/assets/images/
