$ax:ax; 
$toast:ax-toast; 
$picker:ax-picker; 
$calendar:ax-calendar; 
$scroll:ax-scroll; 

.#{$ax}-mask { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .4); z-index: 999; 
    &.light { background-color: hsla(0, 0%, 100%, .3)}
    &.dark { background-color: rgba(0, 0, 0, .7)}
    &.transparent { background-color: transparent; }
}

.#{$toast}-container { font-size: 2.8rem; position: fixed; left: 50%; top: 50%; color: #fff; background: rgba(0, 0, 0, .5); z-index: -1; transform: translate3d(-50%, -50%, 0); padding: 2.5rem 5rem; text-align: center; opacity: 0; border-radius: 1rem; display: flex; align-items: center; justify-content: center; 
    &.on { opacity: 1; z-index: 1000; }
}
