// icon font from element-ui

.#{$ax-prefix}upload:before { content: $ax-var-upload; }
.#{$ax-prefix}error:before { content: $ax-var-error; }
.#{$ax-prefix}success:before { content: $ax-var-success; }
.#{$ax-prefix}warning:before { content: $ax-var-warning; }
.#{$ax-prefix}sort-down:before { content: $ax-var-sort-down; }
.#{$ax-prefix}sort-up:before { content: $ax-var-sort-up; }
.#{$ax-prefix}arrow-left:before { content: $ax-var-arrow-left; }
.#{$ax-prefix}circle-plus:before { content: $ax-var-circle-plus; }
.#{$ax-prefix}circle-plus-outline:before { content: $ax-var-circle-plus-outline; }
.#{$ax-prefix}arrow-down:before { content: $ax-var-arrow-down; }
.#{$ax-prefix}arrow-right:before { content: $ax-var-arrow-right; }
.#{$ax-prefix}arrow-up:before { content: $ax-var-arrow-up; }
.#{$ax-prefix}back:before { content: $ax-var-back; }
.#{$ax-prefix}circle-close:before { content: $ax-var-circle-close; }
.#{$ax-prefix}date:before { content: $ax-var-date; }
.#{$ax-prefix}circle-close-outline:before { content: $ax-var-circle-close-outline; }
.#{$ax-prefix}caret-left:before { content: $ax-var-caret-left; }
.#{$ax-prefix}caret-bottom:before { content: $ax-var-caret-bottom; }
.#{$ax-prefix}caret-top:before { content: $ax-var-caret-top; }
.#{$ax-prefix}caret-right:before { content: $ax-var-caret-right; }
.#{$ax-prefix}close:before { content: $ax-var-close; }
.#{$ax-prefix}d-arrow-left:before { content: $ax-var-d-arrow-left; }
.#{$ax-prefix}check:before { content: $ax-var-check; }
.#{$ax-prefix}delete:before { content: $ax-var-delete; }
.#{$ax-prefix}d-arrow-right:before { content: $ax-var-d-arrow-right; }
.#{$ax-prefix}document:before { content: $ax-var-document; }
.#{$ax-prefix}d-caret:before { content: $ax-var-d-caret; }
.#{$ax-prefix}edit-outline:before { content: $ax-var-edit-outline; }
.#{$ax-prefix}download:before { content: $ax-var-download; }
.#{$ax-prefix}goods:before { content: $ax-var-goods; }
.#{$ax-prefix}search:before { content: $ax-var-search; }
.#{$ax-prefix}info:before { content: $ax-var-info; }
.#{$ax-prefix}message:before { content: $ax-var-message; }
.#{$ax-prefix}edit:before { content: $ax-var-edit; }
.#{$ax-prefix}location:before { content: $ax-var-location; }
.#{$ax-prefix}loading:before { content: $ax-var-loading; }
.#{$ax-prefix}location-outline:before { content: $ax-var-location-outline; }
.#{$ax-prefix}menu:before { content: $ax-var-menu; }
.#{$ax-prefix}minus:before { content: $ax-var-minus; }
.#{$ax-prefix}bell:before { content: $ax-var-bell; }
.#{$ax-prefix}mobile-phone:before { content: $ax-var-mobile-phone; }
.#{$ax-prefix}news:before { content: $ax-var-news; }
.#{$ax-prefix}more:before { content: $ax-var-more; }
.#{$ax-prefix}more-outline:before { content: $ax-var-more-outline; }
.#{$ax-prefix}phone:before { content: $ax-var-phone; }
.#{$ax-prefix}phone-outline:before { content: $ax-var-phone-outline; }
.#{$ax-prefix}picture:before { content: $ax-var-picture; }
.#{$ax-prefix}picture-outline:before { content: $ax-var-picture-outline; }
.#{$ax-prefix}plus:before { content: $ax-var-plus; }
.#{$ax-prefix}printer:before { content: $ax-var-printer; }
.#{$ax-prefix}rank:before { content: $ax-var-rank; }
.#{$ax-prefix}refresh:before { content: $ax-var-refresh; }
.#{$ax-prefix}question:before { content: $ax-var-question; }
.#{$ax-prefix}remove:before { content: $ax-var-remove; }
.#{$ax-prefix}share:before { content: $ax-var-share; }
.#{$ax-prefix}star-on:before { content: $ax-var-star-on; }
.#{$ax-prefix}setting:before { content: $ax-var-setting; }
.#{$ax-prefix}circle-check:before { content: $ax-var-circle-check; }
.#{$ax-prefix}service:before { content: $ax-var-service; }
.#{$ax-prefix}sold-out:before { content: $ax-var-sold-out; }
.#{$ax-prefix}remove-outline:before { content: $ax-var-remove-outline; }
.#{$ax-prefix}star-off:before { content: $ax-var-star-off; }
.#{$ax-prefix}circle-check-outline:before { content: $ax-var-circle-check-outline; }
.#{$ax-prefix}tickets:before { content: $ax-var-tickets; }
.#{$ax-prefix}sort:before { content: $ax-var-sort; }
.#{$ax-prefix}zoom-in:before { content: $ax-var-zoom-in; }
.#{$ax-prefix}time:before { content: $ax-var-time; }
.#{$ax-prefix}view:before { content: $ax-var-view; }
.#{$ax-prefix}upload:before { content: $ax-var-upload; }
.#{$ax-prefix}zoom-out:before { content: $ax-var-zoom-out; }