// icon font from element-ui

.#{$ax-icon}upload:before { content: $ax-var-upload; }
.#{$ax-icon}error:before { content: $ax-var-error; }
.#{$ax-icon}success:before { content: $ax-var-success; }
.#{$ax-icon}warn:before { content: $ax-var-warn; }
.#{$ax-icon}sort-down:before { content: $ax-var-sort-down; }
.#{$ax-icon}sort-up:before { content: $ax-var-sort-up; }
.#{$ax-icon}arrow-left:before { content: $ax-var-arrow-left; }
.#{$ax-icon}circle-plus:before { content: $ax-var-circle-plus; }
.#{$ax-icon}circle-plus-outline:before { content: $ax-var-circle-plus-outline; }
.#{$ax-icon}arrow-down:before { content: $ax-var-arrow-down; }
.#{$ax-icon}arrow-right:before { content: $ax-var-arrow-right; }
.#{$ax-icon}arrow-up:before { content: $ax-var-arrow-up; }
.#{$ax-icon}back:before { content: $ax-var-back; }
.#{$ax-icon}circle-close:before { content: $ax-var-circle-close; }
.#{$ax-icon}date:before { content: $ax-var-date; }
.#{$ax-icon}circle-close-outline:before { content: $ax-var-circle-close-outline; }
.#{$ax-icon}caret-left:before { content: $ax-var-caret-left; }
.#{$ax-icon}caret-bottom:before { content: $ax-var-caret-bottom; }
.#{$ax-icon}caret-top:before { content: $ax-var-caret-top; }
.#{$ax-icon}caret-right:before { content: $ax-var-caret-right; }
.#{$ax-icon}close:before { content: $ax-var-close; }
.#{$ax-icon}d-arrow-left:before { content: $ax-var-d-arrow-left; }
.#{$ax-icon}check:before { content: $ax-var-check; }
.#{$ax-icon}delete:before { content: $ax-var-delete; }
.#{$ax-icon}d-arrow-right:before { content: $ax-var-d-arrow-right; }
.#{$ax-icon}document:before { content: $ax-var-document; }
.#{$ax-icon}d-caret:before { content: $ax-var-d-caret; }
.#{$ax-icon}edit-outline:before { content: $ax-var-edit-outline; }
.#{$ax-icon}download:before { content: $ax-var-download; }
.#{$ax-icon}goods:before { content: $ax-var-goods; }
.#{$ax-icon}search:before { content: $ax-var-search; }
.#{$ax-icon}info:before { content: $ax-var-info; }
.#{$ax-icon}message:before { content: $ax-var-message; }
.#{$ax-icon}edit:before { content: $ax-var-edit; }
.#{$ax-icon}location:before { content: $ax-var-location; }
.#{$ax-icon}loading:before { content: $ax-var-loading; }
.#{$ax-icon}location-outline:before { content: $ax-var-location-outline; }
.#{$ax-icon}menu:before { content: $ax-var-menu; }
.#{$ax-icon}minus:before { content: $ax-var-minus; }
.#{$ax-icon}bell:before { content: $ax-var-bell; }
.#{$ax-icon}mobile-phone:before { content: $ax-var-mobile-phone; }
.#{$ax-icon}news:before { content: $ax-var-news; }
.#{$ax-icon}more:before { content: $ax-var-more; }
.#{$ax-icon}more-outline:before { content: $ax-var-more-outline; }
.#{$ax-icon}phone:before { content: $ax-var-phone; }
.#{$ax-icon}phone-outline:before { content: $ax-var-phone-outline; }
.#{$ax-icon}picture:before { content: $ax-var-picture; }
.#{$ax-icon}picture-outline:before { content: $ax-var-picture-outline; }
.#{$ax-icon}plus:before { content: $ax-var-plus; }
.#{$ax-icon}printer:before { content: $ax-var-printer; }
.#{$ax-icon}rank:before { content: $ax-var-rank; }
.#{$ax-icon}refresh:before { content: $ax-var-refresh; }
.#{$ax-icon}question:before { content: $ax-var-question; }
.#{$ax-icon}remove:before { content: $ax-var-remove; }
.#{$ax-icon}share:before { content: $ax-var-share; }
.#{$ax-icon}star-on:before { content: $ax-var-star-on; }
.#{$ax-icon}setting:before { content: $ax-var-setting; }
.#{$ax-icon}circle-check:before { content: $ax-var-circle-check; }
.#{$ax-icon}service:before { content: $ax-var-service; }
.#{$ax-icon}sold-out:before { content: $ax-var-sold-out; }
.#{$ax-icon}remove-outline:before { content: $ax-var-remove-outline; }
.#{$ax-icon}star-off:before { content: $ax-var-star-off; }
.#{$ax-icon}circle-check-outline:before { content: $ax-var-circle-check-outline; }
.#{$ax-icon}tickets:before { content: $ax-var-tickets; }
.#{$ax-icon}sort:before { content: $ax-var-sort; }
.#{$ax-icon}zoom-in:before { content: $ax-var-zoom-in; }
.#{$ax-icon}time:before { content: $ax-var-time; }
.#{$ax-icon}view:before { content: $ax-var-view; }
.#{$ax-icon}upload:before { content: $ax-var-upload; }
.#{$ax-icon}zoom-out:before { content: $ax-var-zoom-out; }