
$ax-icon: '#{$ax}-icon-' !default; 
$ax-version: '0.0.1' !default; 
$ax-size: 2.6rem !default; 
$ax-line: 1.5 !default; 
$ax-path: './fonts' !default; 

// # 

$ax-var-upload:"\e60d"; 
$ax-var-error:"\e62c"; 
$ax-var-success:"\e62d"; 
$ax-var-warn:"\e62e"; 
$ax-var-sort-down:"\e630"; 
$ax-var-sort-up:"\e631"; 
$ax-var-arrow-left:"\e600"; 
$ax-var-circle-plus:"\e601"; 
$ax-var-circle-plus-outline:"\e602"; 
$ax-var-arrow-down:"\e603"; 
$ax-var-arrow-right:"\e604"; 
$ax-var-arrow-up:"\e605"; 
$ax-var-back:"\e606"; 
$ax-var-circle-close:"\e607"; 
$ax-var-date:"\e608"; 
$ax-var-circle-close-outline:"\e609"; 
$ax-var-caret-left:"\e60a"; 
$ax-var-caret-bottom:"\e60b"; 
$ax-var-caret-top:"\e60c"; 
$ax-var-caret-right:"\e60e"; 
$ax-var-close:"\e60f"; 
$ax-var-d-arrow-left:"\e610"; 
$ax-var-check:"\e611"; 
$ax-var-delete:"\e612"; 
$ax-var-d-arrow-right:"\e613"; 
$ax-var-document:"\e614"; 
$ax-var-d-caret:"\e615"; 
$ax-var-edit-outline:"\e616"; 
$ax-var-download:"\e617"; 
$ax-var-goods:"\e618"; 
$ax-var-search:"\e619"; 
$ax-var-info:"\e61a"; 
$ax-var-message:"\e61b"; 
$ax-var-edit:"\e61c"; 
$ax-var-location:"\e61d"; 
$ax-var-loading:"\e61e"; 
$ax-var-location-outline:"\e61f"; 
$ax-var-menu:"\e620"; 
$ax-var-minus:"\e621"; 
$ax-var-bell:"\e622"; 
$ax-var-mobile-phone:"\e624"; 
$ax-var-news:"\e625"; 
$ax-var-more:"\e646"; 
$ax-var-more-outline:"\e626"; 
$ax-var-phone:"\e627"; 
$ax-var-phone-outline:"\e628"; 
$ax-var-picture:"\e629"; 
$ax-var-picture-outline:"\e62a"; 
$ax-var-plus:"\e62b"; 
$ax-var-printer:"\e62f"; 
$ax-var-rank:"\e632"; 
$ax-var-refresh:"\e633"; 
$ax-var-question:"\e634"; 
$ax-var-remove:"\e635"; 
$ax-var-share:"\e636"; 
$ax-var-star-on:"\e637"; 
$ax-var-setting:"\e638"; 
$ax-var-circle-check:"\e639"; 
$ax-var-service:"\e63a"; 
$ax-var-sold-out:"\e63b"; 
$ax-var-remove-outline:"\e63c"; 
$ax-var-star-off:"\e63d"; 
$ax-var-circle-check-outline:"\e63e"; 
$ax-var-tickets:"\e63f"; 
$ax-var-sort:"\e640"; 
$ax-var-zoom-in:"\e641"; 
$ax-var-time:"\e642"; 
$ax-var-view:"\e643"; 
$ax-var-upload2:"\e644"; 
$ax-var-zoom-out:"\e645"; 
