$ax-prefix: ax !default; 
$ax-version: 0.0.1 !default; 
$ax-size: 2.6rem !default; 
$ax-line: 1.5 !default; 
$ax-path: './fonts' !default; 


$ax-var-info: "\f129";
$ax-var-success: "\f00c";
$ax-var-warn: "\f071";
$ax-var-error: "\f00d";
