
$ax:'ax'; 

$com-mask:'#{$ax}-mask'; 
$com-button:'#{$ax}-button'; 
$com-toast:'#{$ax}-toast'; 

$com-confirm:'#{$ax}-confirm'; 
$com-picker:'#{$ax}-picker'; 
$com-calendar:'#{$ax}-calendar'; 
$com-scroll:'#{$ax}-scroll'; 

// Base UI
@import './button.scss';
@import './mask.scss';
@import './confirm.scss';
@import './toast.scss'; 
