.#{$com-modal}-container { font-size: 2.8rem; z-index: -1; opacity: 0; @include cover; 
    &.on { opacity: 1; z-index: 1000; }
    >.#{$com-modal}-inner {
        @include pop; max-width: 65rem; min-width: 42rem; border-radius: 1rem; z-index: 1001; background-color: #ffffff; 
        .#{$com-modal}-box {
            >.title { padding: 2.5rem 2.5rem; font-size: 2.8rem}
            >.content { @include flex; padding: 0 2.5rem; 
                [class*=-icon-] { margin-right: 1rem; }
            }
            >.close { position: absolute; top: 1.5rem; right: 1.5rem; padding: 0; border: none; outline: none; background: transparent; font-size: 2.4rem; cursor: pointer; color: #ccc; 
                [class*=-icon-] { font-size: 4rem; }
            }
        }
        .#{$com-modal}-control { text-align: right; padding: 2.5rem 2.5rem 2.5rem; 
            button { font-size: 2.6rem; font-size: 2.6rem; }
        }
    }
}