.#{$com-notify}-skeleton { text-align: left; 
    &.right-top { position: fixed; right: 5rem; top: 5rem; z-index: 997; }

    &.center { position: fixed; left: 50%; top: 50%; z-index: 997; transform: translate3d(-50%, -50%, 0); }
    &.top-center { position: fixed; left: 50%; top: 5rem; z-index: 997; transform: translate3d(-50%, 0, 0); }
    &.bottom-center { position: fixed; left: 50%; bottom: 5rem; z-index: 997; transform: translate3d(-50%, 0, 0); }

    &.left-top { position: fixed; left: 5rem; top: 5rem; z-index: 997; }

    .#{$com-notify}-container { font-size: 2.8rem; z-index: -1; opacity: 0; margin-bottom: 5rem; 
        &.on { opacity: 1; z-index: 1000; }
        >.#{$com-notify}-inner { border-radius: 1rem; background-color: #ffffff; overflow: hidden; 
            >.#{$com-notify}-box { position: relative; color: #fff; background-color: #909399; 
                [class*=-icon-] { color: #fff; }
                &.#{$com-notify}-success { background-color: #67c23a; }
                &.#{$com-notify}-error { background-color: #f56c6c; }
                &.#{$com-notify}-info { background-color: #909399; }
                &.#{$com-notify}-warn { background-color: #e6a23c; }
                &.#{$com-notify}-loading { background-color: #909399; }
                >.title { padding: 2.5rem 2.5rem 0; font-size: 2.8rem}
                >.content {
                    @include flex; padding: 2.5rem; white-space: nowrap; 
                    [class*=-icon-] { margin-right: 1rem; }
                }
                >.close { position: absolute; top: 1.5rem; right: 1.5rem; padding: 0; border: none; outline: none; background: transparent; font-size: 2.4rem; cursor: pointer; color: #ccc; 
                    [class*=-icon-] { font-size: 4rem; }
                }
            }
        }
    }
}
