
.#{$com-toast}-container { font-size: 2.8rem; position: fixed; left: 50%; top: 50%; color: #fff; background: rgba(0, 0, 0, .5); z-index: -1; transform: translate3d(-50%, -50%, 0); padding: 2.5rem 5rem; text-align: center; opacity: 0; border-radius: 1rem; display: flex; align-items: center; justify-content: center; white-space: nowrap; 
    &.vertical{flex-direction: column; 
        [class*=ax-icon-]{font-size:5.5rem; margin-bottom: 1rem; }
    }
    &.on { opacity: 1; z-index: 1000; }
}